# Bytecode & env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env
venv/
.env.local

# Alembic junk not needed in the image
alembic/versions/

# Node stuff (if any)
node_modules/
npm-debug.log

# IDE/Editor configs
.vscode/
.idea/

# Git
.git/
.gitignore
.DS_Store
